
$theme-primary: #3aafa9;
$theme-light: #def2f1;
$theme-dark: #2b7a78;
$theme-darker: #17252a;
$theme-white: #feffff;

@font-face{
    font-family: 'Roboto Slab';
    src: url('/fonts/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf');
}

.bg-themeDark{
    background-color: $theme-darker;
    color: $theme-primary;
}

#sidebar{ 
    background-color: $theme-darker;
    color: $theme-primary;
    height: max-content;
    margin-bottom: -5000px; /* any large number will do */
    padding-bottom: 5000px; 
} 
.logo-lg {
    text-align: center;
    margin: 10%;
}

.linkList {
    margin-top: 10%;
    margin-bottom: 20%;
    margin-left: 20%;
    a {
        margin: 20% 0 0 5%;
        float:left; 
        clear: left;
        color: $theme-white;
        border-bottom: 5px solid $theme-primary;
        font-size: 24px;
        font-family: 'Roboto Slab';
    }
    a:hover{
        text-decoration: none;
        color: $theme-light;
    }
}

#mainContent {
    background-color: $theme-primary;
    color: $theme-light;
}

a.nav-link  {
    color: $theme-light !important;
    font-family: 'Roboto Slab';
    a.nav-link :hover{
        text-decoration: none;
        color: $theme-light;
    }
}

.themeLinks {
    color: $theme-primary !important;
    border:none!important;
}

@import "../node_modules/bootstrap/scss/bootstrap";