
$theme-primary: #3aafa9;
$theme-light: #def2f1;
$theme-dark: #2b7a78;
$theme-darker: #17252a;
$theme-white: #feffff;

html, body {
    overflow-x: hidden;  
    transition: all 0.4s ease 0s;
}

@font-face{
    font-family: 'CustomFonts';
    src: url('/fonts/Neo/neo.otf');
}

@font-face {
    font-family: 'SecondaryFonts';
    src: url('/fonts/Nunito/Nunito-SemiBold.ttf');
}

.bg-themeDark{
    background-color: $theme-darker;
    color: $theme-primary;
}

#sidebar{ 
    background-color: $theme-darker;
    color: $theme-primary;
    width: 250px;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
} 
.logo-lg {
    text-align: center;
    margin: 10%;
}

.linkList {
    margin-top: 10%;
    margin-bottom: 20%;
    margin-left: 20%;
    a {
        margin: 10% 0 0 5%;
        float:left; 
        clear: left;
        color: $theme-white;
        border-bottom: 5px solid $theme-primary;
        font-size: 24px;
        font-family: 'CustomFonts';
    }
    a:hover{
        text-decoration: none;
        color: $theme-light;
    }
}

#mainContent {
    color: $theme-primary;
    background-color: $theme-light;
    font-family: 'CustomFonts';
    padding-left: 0px;
}

@media (min-width: 768px) {  
    #mainContent {
        margin-left: 250px; 
    }
}

#home {
    padding-top: 15%;
    padding-left: 5%;
    text-align: center;
}

#home_description {
    padding: 2% 10% 5% 10%;
    font-size: 1.5rem;
    font-family: 'SecondaryFonts';
}

#hero_image {
    max-height: 300px;
    max-width: 300px;
}

#aboutLeft {
    padding: 5%;
}

#about {
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
    background-color: $theme-dark;
    color: $theme-light;
    font-size: 1.5rem;
    p {
        padding: 2% 5% 0 5%;
        font-size: 1.25rem;
        font-family: 'SecondaryFonts';
    }
    .highlight {
        // border-bottom: 4px solid $theme-darker;
        font-style: italic;
    }
}


a.nav-link  {
    color: $theme-light !important;
    font-family: 'CustomFonts';
    a.nav-link :hover{
        text-decoration: none;
        color: $theme-light;
    }
}

.themeLinks {
    color: $theme-primary !important;
    border:none!important;
}

.customCard {
    padding: 2%;
    margin: 4%;
    img {
        height: 128px;
        margin-bottom: 2%;
    }
}

#portfolio {
    background-color: $theme-light;
    color: $theme-primary;
    padding: 5% 0 5% 0;
    text-align: center;
    color: $theme-dark;
    font-family: 'SecondaryFonts';
}

.badge-theme-dark {
    color: $theme-light;
    background-color: $theme-dark;
    font-size: 14px;
}
.port-description {
    padding-top: 5%;
    padding-left: 2%;
    text-align: left;
    h5 {
        padding-top: 5%;
    }
}

.port-divider {
    border: 1px solid $theme-dark;
}
.icon-list i {
    font-size: 60px;
    padding: 0px 2% 0 0;
}

@media screen and (max-width: 768px)  {
    #mainContent, #about, #portfolio {
        padding-top: 30%;
        z-index: 2;
    }
    #chart_div {
        margin-left: 5%;
    }
}

#journey, #blog, #footer {
    padding: 5% 0 5% 0;
    background-color: $theme-dark;
    color: $theme-light;
}
#journey, #blog {
    h3 {
        text-align: center;
    } 
    .description {
        padding: 2% 4% 2% 4%;
    }
    a {
        color: $theme-darker;
    }
    a:hover{
        text-decoration: none;
    }
}

#footer {
    text-align: center;
    padding-bottom: 10px;
    i {
        margin-right: 4%;
    }
    a {
        color: $theme-light;
    }
    a:hover{
        text-decoration: none;
    }
}

ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: $theme-light;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
    text-align: left; 
    font-family: 'SecondaryFonts';
    h4 {
        font-weight: 800;
    }
    a {
        color: $theme-light;
        display: inline-flex;
    }
    a:hover{ 
        color:$theme-darker;
        text-decoration: none;
    }
    .position {
        font-style: italic;
        color: $theme-darker;
        width: 100%;
    }
    p{
        font-size: 0.9rem;
    }
}
ul.timeline > li:before {
    content: ' ';
    background: $theme-light;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid $theme-light;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

.sectionHeadingDark {
    padding:2%;
}
.sectionHeadingLight {
    padding:2%;
    font-family: 'CustomFonts';
    text-align: center;
}

#skills, #contact{
    padding: 5% 0 5% 0;
}

@import "../node_modules/bootstrap/scss/bootstrap";


.btn-themed-light {
    color: $theme-dark;
    background-color: $theme-light;
    border-radius: 30px;
    padding: 12px 30px;
    border: 1px solid $theme-dark;
}
.btn-themed-light:hover{ 
    background-color: $theme-dark;
    color: $theme-light;    
}


.btn-themed-dark {
    background-color: $theme-dark;
    color: $theme-light;
    border-radius: 30px;
    padding: 12px 30px;
    border: 1px solid $theme-light;
}
.btn-themed-dark:hover{ 
    color: $theme-dark;
    background-color: $theme-light;    
    border: 1px solid $theme-dark;
}