
$theme-primary: #3aafa9;
$theme-light: #def2f1;
$theme-dark: #2b7a78;
$theme-darker: #17252a;
$theme-white: #feffff;

html, body {
    overflow-x: hidden;
}

@font-face{
    font-family: 'CustomFonts';
    src: url('/fonts/Roboto_Slab/static/RobotoSlab-Medium.ttf');
}

.bg-themeDark{
    background-color: $theme-darker;
    color: $theme-primary;
}

#sidebar{ 
    background-color: $theme-darker;
    color: $theme-primary;
    width: 250px;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
} 
.logo-lg {
    text-align: center;
    margin: 10%;
}

.linkList {
    margin-top: 10%;
    margin-bottom: 20%;
    margin-left: 20%;
    a {
        margin: 20% 0 0 5%;
        float:left; 
        clear: left;
        color: $theme-white;
        border-bottom: 5px solid $theme-primary;
        font-size: 24px;
        font-family: 'CustomFonts';
    }
    a:hover{
        text-decoration: none;
        color: $theme-light;
    }
}

#mainContent {
    color: $theme-primary;
    background-color: $theme-light;
    font-family: 'CustomFonts';
    padding-left: 0px;
}

@media (min-width: 768px) {  
    #mainContent {
        margin-left: 250px; 
    }
}

#home {
    padding-top: 15%;
    padding-left: 5%;
    text-align: center;
}

#home_description {
    padding: 2% 10% 5% 10%;
    font-size: 1.5rem;
}

#hero_image {
    max-height: 300px;
    max-width: 300px;
}

#aboutLeft {
    padding: 5%;
}

#about {
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
    background-color: $theme-dark;
    color: $theme-light;
    font-size: 1.5rem;
    p {
        padding: 2% 5% 0 5%;
        font-size: 1.25rem;
    }
    .highlight {
        // border-bottom: 4px solid $theme-darker;
        // font-style: italic;
    }
}


a.nav-link  {
    color: $theme-light !important;
    font-family: 'CustomFonts';
    a.nav-link :hover{
        text-decoration: none;
        color: $theme-light;
    }
}

.themeLinks {
    color: $theme-primary !important;
    border:none!important;
}

.customCard {
    padding: 2%;
    margin: 4%;
    img {
        height: 128px;
        margin-bottom: 2%;
    }
}

#portfolio {
    background-color: $theme-light;
    color: $theme-primary;
    padding: 5% 0 5% 0;
    text-align: center;
}

.cardContainer {
    position: relative;
    margin: 0 4% 0 4%;
    border-radius: 20px;
}
  
.cardImage {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 20px;
    padding: 5% 0 5% 0;
}
  
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 1s ease;
    background-color: $theme-primary;
    border-radius: 20px;
}
  
.cardContainer:hover .overlay {
    opacity: 0.9;
}
  
.cardText {
    color: white;
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    a {
        color: $theme-light;
        display: inline-flex;
    }
    a:hover{ 
        color: $theme-darker;
        text-decoration: none;
    }
}

@import "../node_modules/bootstrap/scss/bootstrap";